config.py
/__pycache__/*
credentials.json
userprompts.py
creatienv
color_1.svg
color_2.svg
color_3.svg
color_4.svg
color_5.svg
color_1.svg.png
color_2.svg.png
color_3.svg.png
color_4.svg.png
color_5.svg.png
palette.png
discordtest.py
.env